.category {
    &__content {
        padding-left: rem(160px);
        padding-right: rem(160px);
        padding-top: rem(45px);
        padding-bottom: rem(100px);
    }

    &__item {
        margin-bottom: rem(90px);
    }

    &__text {
        padding-left: rem(85px);
        padding-right: rem(55px);
        padding-top: 15px;
        padding-bottom: 15px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        .title {
            font-family: Raleway-MediumItalic;
            font-size: rem(14px);
            letter-spacing: rem(1.68px);
            color: $color-pink-0;
        }

        .date {
            font-family: Raleway-Regular;
            font-size: rem(14px);
            letter-spacing: rem(0.56px);
            color: $color-purple-0;
        }

        .sub-title {
            font-family: Nunito-Bold;
            font-size: rem(24px);
            letter-spacing: rem(0.96px);
            color: $color-purple-0;
        }

        .description {
            font-size: rem(18px);
            letter-spacing: rem(0.72px);
            color: $color-purple-0;
        }
        
    }

    &__search {
        margin-bottom: rem(30px);
        position: relative;

        input {
            width: 100%;
            height: rem(62px);
            border-radius: 41px;
            border: unset;
            box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.16);
            background-color: $color-white-0;
            padding-left: rem(30px);

            &:focus {
                outline: unset;
            }
        }

        ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            font-size: rem(18px);
            letter-spacing: rem(0.72px);
            color: $color-purple-5;
        }

        .wrapper-img {
            width: rem(47px);
            height: rem(47px);
            line-height: rem(45px);
            border-radius: 50%;
            background-color: $color-orange-0;
            text-align: center;
            border: unset;

            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    &__email {
        background-color: $color-pink-3;
        border-radius: rem(20px);
        padding: rem(75px) rem(20px) rem(100px) rem(20px);
        margin-bottom: rem(40px );
        text-align: center;

        .title {
            font-family: Raleway-Bold;
            font-size: rem(21px);
            letter-spacing: rem(0.84px);
            color: $color-white-0;
            margin-top: rem(65px);
            margin-bottom: rem(50px);
        }

        &-input {
            width: 100%;
            height: rem(52px);
            border-radius: 10px;
            overflow: hidden;
            background-color: $color-white-0;

            input {
                flex-grow: 1;
                background-color: $color-white-0;
                border: unset;
                padding-left: rem(30px);
        
                &:focus {
                    outline: unset;
                }
            }

            ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                font-size: rem(16px);
                letter-spacing: rem(0.64px);
                color: $color-purple-0;
                opacity: 0.28;
            }

            button {
                font-family: Raleway-Bold;
                font-size: rem(13px);
                background-color: $color-orange-0;
                color: $color-white-0;
                letter-spacing: rem(0.52px);
                width: rem(80px);
                border-radius: 10px;
            }
        }
    }

    &__tags {
        margin-bottom: rem(50px);

        .title {
            font-family: Nunito-Bold;
            font-size: rem(24px);
            letter-spacing: rem(0.96px);
            color: $color-purple-0;
            margin-bottom: rem(20px);
        }

        li {
            display: inline-block;
            background-color: $color-purple-4;
            padding: rem(7px) rem(15px);
            border-radius: 20px;
            margin-bottom: rem(10px);
        }

        a {
            font-family: Raleway-SemiBold;
            font-size: rem(17px);
            letter-spacing: rem(0.68px); 
            color: $color-purple-0;
        }
    }

    &__menu {
        .title {
            font-family: Nunito-Bold;
            font-size: rem(24px);
            letter-spacing: rem(0.96px);
            color: $color-purple-0;
        }

        a {
            font-size: rem(17px);
            letter-spacing: rem(0.68px); 
            line-height: rem(40px);
            color: $color-purple-0;
        }
    }

    .btn-read-more {
        font-family: Raleway-Bold;
        font-size: rem(18px);
        letter-spacing: rem(0.72px);
        color: $color-orange-0;
    }

    .group-img {
        a {
            padding: 0 rem(30px);
        }
    }

  
}

@media (max-width: 1024px) { 
    .category {
        &__content {
            padding: rem(70px) rem(50px);
        }

        &__text {
            padding-left: 0;
        }
    }
}

@media (max-width: 768px) { 
    .category {
        &__content {
            padding: rem(70px) rem(50px);
        }

        &__item {
            border-bottom: 2px solid $color-purple-6;
        }

        &__text {
            padding: rem(30px) 0;
    
            .title {
                font-size: rem(12px);
                letter-spacing: rem(1.2px);
            }
    
            .date {
                
                font-size: rem(10px);
                letter-spacing: rem(0.4px);
              
            }
    
            .description {
                font-size: rem(14px);
                letter-spacing: rem(0.56px);
                margin-bottom: rem(40px);
            }
            
        }

        &__email {
            .title {
                font-size: rem(18px);
                letter-spacing: rem(0.72px);
            }
    
            &-input {
                width: 100%;
                height: rem(52px);
                border-radius: 10px;
                overflow: hidden;
                background-color: $color-white-0;
    
                input {
                    flex-grow: 1;
                    background-color: $color-white-0;
                    border: unset;
                    padding-left: rem(30px);
            
                    &:focus {
                        outline: unset;
                    }
                }
    
                ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                    font-size: rem(16px);
                    letter-spacing: rem(0.64px);
                    color: $color-purple-0;
                    opacity: 0.28;
                }
    
                button {
                    font-family: Raleway-Bold;
                    font-size: rem(13px);
                    background-color: $color-orange-0;
                    color: $color-white-0;
                    letter-spacing: rem(0.52px);
                    width: rem(80px);
                    border-radius: 10px;
                }
            }
        }

        btn-read-more {
            font-size: rem(14px);
            letter-spacing: rem(0.56px);
        }

        .group-img {
            a {
                padding: 0 rem(20px);
            }
        }
    }
}

@media (max-width: 576px) { 
    .category {
        &__content {
            padding: rem(70px) rem(20px);
        }
    }
}