.collaborative__hero-section {
    background-image: url('../img/Group 2339.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

@media (max-width: 576px) {
    .collaborative__hero-section {
    
    }
}