.group-section {
    background-image: linear-gradient(to bottom, #fff5f0, #faf8fe 59%);
}

#collaborative {
    .testimonials {
        background-color: unset;

        .container-vertical {
            padding-top: 0;
        }
    }
}
.collaborative__package {
    &-content {
        margin-left: rem(340px);
        margin-right: rem(340px);
        background-color: $color-white-0;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.16);
        border-radius: rem(20px);
        padding: rem(60px) 0;

        position: relative;
        top: rem(-270px);

        margin-bottom: (-165px);
    }

    &-title {
        padding: 0 rem(95px);
        margin-bottom: rem(40px);

        .headline {
            font-family: Nunito-Bold;
            font-size: rem(38px);
            letter-spacing: rem(1.52px);
            color: $color-purple-0;
        }

        .title {
            font-size: rem(29px);
            letter-spacing: rem(1.16px);
            color: $color-pink-3;
        }

        .unit {
            font-family: Raleway-Bold;
            font-size: rem(45px);
            color: $color-purple-0;
        }

        .only {
            transform: translateY(140%);
            color: $color-purple-0;
        }

        .month {
            color: $color-purple-0;
        }

        .price {
            font-family: Raleway-Bold;
            font-size: rem(85px);
            letter-spacing: rem(3.4px);
            color: $color-purple-0;
        }
    }

    

    &-text {
        &-wrapper {
            margin-bottom: rem(35px);
            padding: 0 rem(95px);
        }

        &-wrapper:nth-child(odd) {
            background-color: $color-orange-3;
        }
    
        &-wrapper:nth-child(even) {
            background-color: $color-white-0;
        }

        &-item {
            padding-right: rem(55px);

            .check-wrapper {
                width: rem(37px);
                height: rem(37px);
                line-height: rem(37px);
                background-color: $color-white-0;
                border-radius: 50%;
            }

            .text-left {
                flex: 1;
                padding-left: rem(25px);

                p {
                    display: inline-block;
                }

                .title {
                    font-family: Nunito-Bold;
                    font-size: rem(22px);
                    letter-spacing: rem(0.88px);
                    color: $color-purple-0;
                    margin-top: rem(20px);
                    margin-bottom: rem(10px);
                }

                .description {
                    font-size: rem(16px);
                    letter-spacing: rem(0.64px);
                    color: $color-purple-0;
                }
            }
        }
    }
}

@media (max-width: 576px) {
    .collaborative__package {
        &-content {
            margin-left: 0;
            margin-right: 0;
        }

        &-text {
            &-wrapper {
                padding: 0;
            }

            &-item-wrapper:nth-child(odd) {
                background-color: $color-orange-3;
            }

            &-item-wrapper:nth-child(even) {
                background-color: $color-white-0;
            }

            &-item {

            }
        }
    }
}