.collaborative__hero-section {
    background-image: url('../img/Group 2339.jpg');
    background-size: cover;
    background-repeat: no-repeat;

    .container-vertical {
        padding-bottom: rem(40px);
    }

    &-content {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &-text {
        text-align: center;
        max-width: 795px;
        
        .title-white {
            margin-top: rem(55px);
            margin-bottom: rem(35px);
        }

        .description {
            font-size: rem(21px);
            letter-spacing: rem(0.84px);
            color: $color-white-0;
            line-height: rem(44px);
        }
    }
}

// Page Telemedicine
#telemedicine {
    .collaborative__hero-section {
        background-image: url('../img/Group 2343.jpg');

        .container-vertical {
            padding-bottom: rem(120px);
        }
    
        &-text {
            max-width: rem(1050px);

            .title-white {
                font-size: rem(40px);
                margin-top: rem(20px);
                margin-bottom: rem(75px);
            }
        }
    }
    
}

@media (max-width: 1024px) {
    .collaborative__hero-section {

            .container-vertical {
                padding-left: rem(20px);
                padding-right: rem(20px);
                padding-top: rem(80px);
                padding-bottom: rem(100px);
            }
            
            .title-white {
                font-size: rem(24px);
                letter-spacing: rem(0.96px);
            }

            .description {
                font-size: rem(16px);
                letter-spacing: rem(0.64px);
                line-height: rem(26px);
            }
    }
}

@media (max-width: 576px) {
    .collaborative__hero-section {
        background-image: url('../img/Group 2375.jpg'); 
    }

    #telemedicine {
        .collaborative__hero-section {
            background-image: url('../img/Group 2376.jpg');
        }
    }
}