.signin {
    background: url('../img/Path 1041.png');
    background-size: cover;
    background-repeat: no-repeat;

    &__content {
        margin: rem(85px) rem(690px);
        padding: rem(90px) rem(60px);
        text-align: center;
        border-radius: 20px;
        box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.16);
        background-color: $color-white-0;
    }

    &__title {
        .title {
            font-family: Nunito-Bold;
            font-size: rem(21px);
            letter-spacing: rem(0.84px);
            color: $color-purple-0;
            margin-bottom: rem(40px);
        }
    }

    &__form {
        &__item {
            position: relative;
            margin-bottom: rem(30px);

            ul.parsley-errors-list {
                position: absolute;
                bottom: -5px;
                transform: translateY(100%);
                padding-left: 20px;

                li {
                    font-family: Montserrat-Medium;
                    font-size: rem(12px);
                    color: $color-pink-0;
                }
            }

            &:focus-within {
                input:focus {
                    border: 2px solid $color-pink-0;
                }
        
                input:focus ~ label {
                    top: 0;
                    background-color: $color-white-0;
                    color: $color-pink-0;
                    opacity: 1;
                }
            }
    
            label {
                position: absolute;
                left: 65px;
                top: 50%;
                transform: translateY(-50%);
                transition: all 0.3s;
                font-family: Montserrat-Medium;
                font-size: rem(12px);
                letter-spacing: rem(0.48px);
                color: $color-purple-0;
                opacity: 0.47;
                pointer-events: none;
            }

            img {
                position: absolute;
                left: 25px;
                top: 50%;
                transform: translateY(-50%);
                transition: all 0.3s;
            }

            
    
            label.active {
                top: 0;
                background-color: $color-white-0;
                opacity: 1;
            }
    
            .form-control:focus {
                box-shadow: unset;
            }
    
            input {
                padding-left: 55px;
                padding-right: 35px;
                height: rem(55px);
                border-radius: 25px;

                &.parsley-error {
                    margin-bottom: rem(35px);
                }
            }
    
            i {
                position: absolute;
                right: 25px;
                top: 50%;
                transform: translateY(-50%);
                color: $color-grey-0;
            }
        }

        .text-forgot {
            font-family: Montserrat-Medium;
            font-size: rem(12px);
            letter-spacing: rem(0.48px);
            text-align: right;
        }

        .btn-login {
            width: rem(200px);
            height: rem(50px);
            background-color: $color-orange-0;
            border-radius: 30px;
            color: $color-white-0;
            font-family: Montserrat-Bold;
            font-size: rem(12px);
            letter-spacing: rem(0.48px);
            margin-top: rem(20px);
            margin-bottom: rem(35px);
        }

    }

    .group-text {
        p {
            font-family: Montserrat-Medium;
            font-size: rem(12px);
            letter-spacing: rem(0.48px);
            color: $color-green-0;

            a {
                color: $color-orange-0;
            }
        }
    }

}

@media (max-width: 1919px) {
    .signin {
        &__content {
            margin: rem(85px) rem(520px);
        } 
    }
}

@media (max-width: 1200px) {
    .signin {
        &__content {
            margin: rem(85px) rem(450px);
        } 
    }
}

@media (max-width: 1024px) {
    .signin {
        &__content {
            margin: 0;
            padding: rem(70px) rem(150px);
            box-shadow: unset;
        }

        
    }
}

@media (max-width: 576px) {
    .signin {
        &__content {
            padding: rem(70px) rem(30px);
        }
    }
}