.questions {
    // background-image: url('../img/Mask Group 24.jpg');
    // background-size: cover;
    // background-repeat: no-repeat;
    
    
    &__content {
        background-image: url('../img/Mask Group 24.jpg');
    background-size: cover;
    background-repeat: no-repeat;
        padding-left: rem(325px);
        padding-right: rem(325px);
    }

    &__title {
        padding-left: rem(325px);
        padding-right: rem(325px);
        padding-top: rem(90px);
        text-align: center;

        .title-large {
            font-size: rem(38px);
            letter-spacing: rem(1.52px);
            padding: 0 rem(170px);
        }
    }

    .tab-name {
        margin-top: rem(70px);

        .nav {
            justify-content: center;
        }

        .nav-link {
            font-size: rem(18px);
            letter-spacing: rem(0.72px);
            color: $color-purple-0;
            padding: 0;
            margin: rem(8px) rem(16px);
            margin-bottom: rem(40px);
        }

        .nav-link.active {
            position: relative;
            font-family: Raleway-ExtraBold;

            &::after {
                content: "";
                display: block;
                width: rem(63px);
                height: rem(5px);
                background-color: #f1737f;
                position: absolute;
                top: 63px;
                left: 50%;
                transform: translateX(-50%);
                
            }
        }
    }

    &__wrapper {
        padding-top: rem(60px);
        padding-bottom: rem(80px);
    }


    &__item {
        background-color: $color-white-0;
        border-radius: 10px;
        padding: rem(25px) rem(40px);
        margin-bottom: rem(15px);
    }

    &__item-text {
        p {
            font-family: Nunito-Bold;
            font-size: rem(21px);
            letter-spacing: rem(0.84px);
            margin-bottom: 0;
        }
    }

    i.fa-plus {
        padding-left: rem(10px);
        color: $color-pink-0;
        cursor: pointer;
    }

    .collapse-content {
        background-color: $color-white-0;
        margin-top: rem(-15px);
        margin-bottom: rem(15px);
    }

    .collapse-text {
        padding: rem(20px);
    }
}

@media (max-width: 1024px) {
    .questions {
        &__content {
            padding: rem(70px) rem(50px);
        }

        &__title {
            padding-left: rem(50px);
            padding-right: rem(50px);
            padding-top: rem(70px);
        }
    }
}

@media (max-width: 768px) {
    .questions {
        &__content {
            padding: rem(70px) rem(20px);
        }

        &__title {
            padding-left: rem(20px);
            padding-right: rem(20px);
            padding-top: rem(70px);

            .title-large {
                padding: 0;
            }
        }

        &__wrapper {
            padding-bottom: 0;
        }

        &__item {
           padding-left: rem(25px);
           padding-right: rem(25px);
        }

        &__item-text {
            p {
                font-size: rem(16px);
                margin-left: 0;
                text-align: left;
            }
        }

        .tab-name {
            .nav {
                flex-wrap: nowrap;
                align-items: flex-end;
            }

            .nav-link {
                font-size: rem(14px);
                letter-spacing: rem(0.56px);
            }

            .nav-link.active {
                &::after {
                    top: 57px;
                }
            }
        }
    }
}

@media (max-width: 576px) {
    .questions {
        .tab-name {
            .nav {
                align-items: unset;
            }

            .nav-link {
                margin: 0;
                padding-bottom: 20px;
                display: flex;
                height: 100%;
                align-items: flex-end;
            }
        }
    }
}