$font-size-base-px: 16px;


$color-white-0: #ffffff;

$color-purple-0: #271c3f;
$color-purple-1: #120331;
$color-purple-2: rgba(244,240,253,0.54);
$color-purple-3: #faf8fe;
$color-purple-4: #f4f0fd;

$color-pink-0: #f1737f;
$color-pink-1: rgba(255, 245, 240, 0.85);
$color-pink-2: #fdd0d4;
$color-pink-3: #c06c86;


$color-orange-0: #f8b28e;
$color-orange-1: #fef4ef;
$color-orange-2: #fde7db;

$color-red-0: red;